body {
  margin: 0;
  background-color: #a891e9;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 25px;
  max-width: 94%;
  margin: 40px auto;
}

header {
  padding: 3%;
  h3 {
    color: royalblue;
    margin: 0;
  }
  p {
    margin: 0;
  }
  img {
    border-radius: 30px;
  }
}
